<% provide :title, t("request_shop.page_title") %>
<div class="common">
  <h1 class="text-center title"><%= t "request_shop.title" %></h1>
  <div class="row margin-top-50">
    <div class="col-md-12">
      <div class="panel panel-success">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th><%= t "request_shop.shop_name" %></th>
              <th><%= t "request_shop.user_name" %></th>
              <th><%= t "request_shop.domain_name" %></th>
              <th><%= t "request_shop.status" %></th>
              <th><%= t "request_shop.approve" %></th>
              <th><%= t "request_shop.reject" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @requests %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= paginate @requests %>
