<div class="col-md-4 col-sm-4 col-xs-4 box_shop padding-left_domain">
  <% if shop.status_on_off == Settings.shop_status_off %>
    <div class="col-sm-12 col-md-12 col-xs-12 shop_close">
  <% else %>
    <div class="col-sm-12 col-md-12 col-xs-12 shop_open">
  <% end %>
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="row thumbnail new_image">
      <%= image_tag "border_image.png", class: "image_border" %>
      <% if @domain.present? %>
        <%= link_to domain_shop_path(@domain, shop) do %>
          <%= image_tag shop.avatar.url, class: "top-shop image_on_image_border" %>
        <% end %>
      <% else %>
        <%= link_to domain_shop_path(shop, domain_id: "not_find") do %>
          <%= image_tag shop.avatar.url, class: "top-shop image_on_image_border" %>
        <% end %>
      <% end %>
      </div>
  </div>
  <div class="col-md-7 col-sm-7 col-xs-7">
    <div class="shop-name-small">
      <h3 class="margin_top_5px">
        <% if @domain.present? %>
          <% if is_owner_manager_of_shop? shop.id %>
            <%= link_to truncate(shop.name, length: Settings.max_shop_name),
              "#modal-confirm-#{shop.id}", "data-toggle": "modal",
              class: "tooltips confirm-button", title: shop.name %>
          <% else %>
            <%= link_to truncate(shop.name, length: Settings.max_shop_name),
              domain_shop_path(@domain, shop),
              class: "tooltips", title: shop.name %>
          <% end %>
          <div><%= render "shared/shop_on_off", shop: shop %></div>
        <% else %>
          <%= link_to shop.name, domain_shop_path(shop, domain_id: "not_find") %>
        <% end %>
      </h3>
      <div id="<%= "modal-confirm-" + shop.id.to_s %>" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header modal_header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title modal_text_header"><%= t "common.notifications" %></h4>
            </div>
            <div class="modal-body confirm-body">
              <p><%= t "confirm_to_manage_shop" %></p>
              <p class="timer"></p>
            </div>
            <div class="modal-footer">
              <%= link_to t("confirm_no"), domain_shop_path(@domain, shop),
                class: "btn btn-default confirm-no" %>
              <%= link_to t("confirm_yes"), domain_dashboard_shop_path(@domain, shop),
                class: "btn btn-add confirm-yes" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="description quote", title="<%= shop.description %>"><p>
      <%= truncate(shop.description, length: Settings.max_description) %></p>
    </div>
  </div>
    </div>
</div>
