<div class="row">
  <div class="shop_image_cover_and_avatar">
    <div class="image_cover">
      <%= image_tag @shop.cover_image.url, class: "defaut-pic-cover" %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <%= image_tag @shop.avatar.url, class: "avatar",
        id: "img-avatar" %>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
      <h1 class="title mg-bottom-0" title="<%= @shop.name %>">
        <%= @shop.name %>
        <%= follow_shop_button @shop %>
        <%= hidden_field_tag :shop_id, @shop.id %>
      </h1>
      <% if @shop.pending? %>
        <%= render "shared/shop_status_label", shop: @shop %>
      <% else %>
        <div id="rate-star" class="col-xs-3">
          <%= rating_for @shop, Settings.rate, enable_half: true,
            disable_after_rate: false %>
        </div>
      <% end %>
      <marquee direction="left" class="text-description" scrollamount=5>
        <%= @shop.description %>
      </marquee>
    </div>
  </div>
  <div class="list-functions">
    <%= label_tag "", t("infomation_shop"), class: "title-list-functions"%>
    <div class="col-sm-12 col-md-12 col-xs-12 text-center pd_top_10px">
      <div class="general_info">
        <div class="col-sm-6 col-md-3 col-xs-6">
          <div class="general_item">
            <div class="col-sm-3 col-md-3 col-xs-3 padding-0">
              <i class="material-icons general_icon">store</i>
            </div>
            <div class="col-sm-9 col-md-9 col-xs-9 padding-right-0 padding-left-0">
              <div class="general_number">
                <%= check_shop_on_off @shop %>
              </div>
              <%= t "status_shop" %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-6">
          <div class="general_item">
            <div class="col-sm-3 col-md-3 col-xs-3 padding-0">
              <i class="material-icons general_icon">favorite</i>
            </div>
            <div class="col-sm-9 col-md-9 col-xs-9 padding-right-0 padding-left-0">
              <div class="general_number shop-followers-count">
                <%= @shop.followers_count %>
              </div>
              <%= t "general_info.total.followers" %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-6">
          <div class="general_item">
            <div class="col-sm-3 col-md-3 col-xs-3 padding-0">
              <i class="material-icons general_icon">restore</i>
            </div>
            <div class="col-sm-9 col-md-9 col-xs-9 padding-right-0 padding-left-0">
              <div class="general_number">
                <%= l @shop.time_auto_reject, format: :short_time %>
              </div>
              <%= t "general_info.reject_order_auto" %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-6">
          <div class="general_item">
            <div class="col-sm-3 col-md-3 col-xs-3 padding-0">
              <i class="material-icons general_icon">storage</i>
            </div>
            <div class="col-sm-9 col-md-9 col-xs-9 padding-right-0 padding-left-0">
              <div class="general_number">
                <%= @shop.products.size %>
              </div>
              <%= t "general_info.total.products" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-shop-header clearfix">
  <div>
    <h2 class="section_title margin_right_15px row_h2">
      <%= @products.any? ? t(".products") : t(".no_product") %>
    </h2>
  </div>
  <div class="list-products-shop-domain magin_top_10px">
    <%= render @products %>
  </div>
  <div class="load-more-products col-md-12 col-xs-12 margin-top-30">
    <% unless check_length_perpage_product @products %>
      <%= link_to_next_page(@products, t("view_more_products")) %>
    <% end %>
  </div>
</div>
<%= render "domains/modal_order_fast" %>
