<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.chatwork_id %></td>
  <td>
    <div class="search-user-image">
      <%= image_tag user.avatar.url, class: "thumbnail" %>
    </div>
  </td>
  <td><%= user.description %></td>
  <td>
    <% if @domain.users.present? %>
      <% if @domain.users.include? user %>
        <% if !current_user? user %>
          <% user_domain = UserDomain.find_by(user_id: user.id, domain_id: @domain.id) %>
          <%= link_to t("delete"),
            user_domain_path(user_domain.id, user_id: user.id, domain_id: @domain.id),
            method: :delete, class: "btn btn-danger btn_block" %>
        <% end %>
      <% else %>
        <%= link_to t("add"), user_domains_path(user_id: user.id, domain_id: @domain.id),
          method: :post, class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= link_to t("add"), user_domains_path(user_id: user.id, domain_id: @domain.id),
        method: :post, class: "btn btn-primary" %>
    <% end %>
  </td>
</tr>
