<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.chatwork_id %></td>
  <td>
    <div class="search-user-image">
      <%= image_tag user.avatar.url, class: "thumbnail" %>
    </div>
  </td>
  <td><%= user.description %></td>
  <td>
    <% if @choosen_domain.users.present? %>
      <% if @choosen_domain.users.include? user %>
        <% if !current_user? user %>
          <% user_domain = UserDomain.find_by(user_id: user.id, 
            domain_id: @choosen_domain.id) %>
          <% if @choosen_domain.owner?(current_user) %>
            <%= link_to t("delete"),
              user_domain_path(user_domain.id, user_id: user.id, 
              domain_id: @choosen_domain.id),
              method: :delete, class: "btn btn-danger btn_block" %>
            <% if user_domain.member? %>
              <%= link_to t("manage_domain.manager"), 
                user_domain_path(user_domain, role: :manager),
                method: :patch, class: "btn btn-primary" %>
            <% end %>
            <% if user_domain.manager? %>
              <%= link_to t("manage_domain.remove"), 
                user_domain_path(user_domain, role: :member),
                method: :patch, class: "btn btn-primary btn-warning" %>
            <% end %>
          <% else %>
            <% unless (@choosen_domain.owner?(user) ||
              user_domain.manager?) %>
              <%= link_to t("delete"),
                user_domain_path(user_domain.id, user_id: user.id, 
                domain_id: @choosen_domain.id),
                method: :delete, class: "btn btn-danger btn_block" %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to t("add"), user_domains_path(user_id: user.id, 
          domain_id: @choosen_domain.id),
          method: :post, class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= link_to t("add"), user_domains_path(user_id: user.id, 
        domain_id: @choosen_domain.id),
        method: :post, class: "btn btn-primary" %>
    <% end %>
  </td>
</tr>
