<% provide :title, @user.name %>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2" >
    <div class="panel panel-info">
      <div class="panel-default modal_header">
        <h3 class="panel-title text-center text-panel">
          <strong><%= t "account_info" %></strong>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <%= image_tag @user.avatar.url, alt: @user.name, class: "avatar-show-user" %>
          </div>
          <div class="col-xs-8">
            <table class="table table-hover table-account">
              <tbody>
                <tr>
                  <th><%= t ".full_name" %></th>
                  <td><%= @user.name %></td>
                </tr>
                <tr>
                  <th><%= t ".email" %></th>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <th><%= t ".chatwork" %></th>
                  <td><%= @user.chatwork_id %></td>
                </tr>
                <tr>
                  <th><%= t ".create_at" %></th>
                  <td>
                    <%= @user.created_at.strftime(t "date_format") %>
                  </td>
                </tr>
                <tr>
                  <th><%= t ".status" %></th>
                  <td>
                    <span class="label label-info">
                      <%= t "all_status.#{@user.status}" %>
                    </span>
                  </td>
                </tr>
                <tr>
                  <th><%= t ".description" %></th>
                  <td>
                    <%= @user.description %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12">
            <% if current_user? @user %>
              <%= link_to edit_user_registration_path,
                class: "btn btn-sm btn-warning float-right form-button" do %>
                <i class="glyphicon glyphicon-edit"></i>
                <%= t "common.edit_button" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
