<% provide :title, @user.name %>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2" >
    <div class="panel panel-info">
      <div class="panel-default modal_header">
        <h3 class="panel-title text-center text-panel">
          <strong><%= t "account_info" %></strong>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <%= image_tag @user.avatar.url, alt: @user.name, class: "avatar-show-user" %>
          </div>
          <div class="col-xs-8">
            <table class="table table-hover table-account">
              <tbody>
                <tr>
                  <th><%= t ".full_name" %></th>
                  <td><%= @user.name %></td>
                </tr>
                <tr>
                  <th><%= t ".email" %></th>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <th><%= t "edit_user.group" %></th>
                  <td><%= @user.address %></td>
                </tr>
                <tr>
                  <th><%= t ".chatwork" %></th>
                  <td><%= @user.chatwork_id %></td>
                </tr>
                <tr>
                  <th><%= t ".create_at" %></th>
                  <td>
                    <%= @user.created_at.strftime(t "date_format") %>
                  </td>
                </tr>
                <tr>
                  <th><%= t ".status" %></th>
                  <td>
                    <span class="label label-info">
                      <%= t "all_status.#{@user.status}" %>
                    </span>
                  </td>
                </tr>
                <tr>
                  <th><%= t ".description" %></th>
                  <td>
                    <%= @user.description %>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-xs-12 right">
                <% if current_user? @user %>
                  <%= link_to "#change-password-user", "data-toggle": "modal",
                    class: "btn btn-default form-button" do %>
                    <i class="glyphicon glyphicon-edit"></i>
                    <%= t "devise.user.change_pass" %>
                  <% end %>
                  <%= link_to edit_user_registration_path,
                    class: "btn btn-default form-button" do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                    <%= t "edit_infomation" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="change-password-user" class="modal fade">
  <div class="modal-dialog modal-edit-user">
    <div class="modal-content">
      <div class="modal-header modal_header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title modal_text_header">
          <%= t "change_password" %>
        </h4>
      </div>
      <div class="modal-body">
        <%= form_for @user, url: user_path, method: :put, remote: true,
          html: {class: "change-password-user"} do |f| %>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <%= f.label t "edit_user.password" %>
                <%= f.password_field :password, autocomplete: "off",
                  class: "form-control" %>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <%= f.label t "edit_user.password_confirm" %>
                <%= f.password_field :password_confirmation, autocomplete: "off",
                  class: "form-control" %>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <strong class="time-error"></strong>
                <%= f.label t("edit_user.current_password"), class: "impor" %>
                <%= f.password_field :current_password, autocomplete: "off",
                  class: "form-control" %>
              </div>
            </div>
            <div class="col-xs-12 padding-top-10 right">
              <button type="button" class="btn btn-default form-button"
                data-dismiss="modal"><%= t "cancel" %>
              </button>
              <%= f.submit t("edit_user.update"),
                class: "btn btn_add_to_cart btn-add form-button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
