<div class="cart-item scrollable-menu">
  <% @cart.items.each do |item| %>
    <li id="item-<%= item.product_id %>", class="cart-item-default">
      <span class="item">
        <div class="item-left item-product-thumbnail">
          <%= image_tag item.product.image.url %>
          <div class="item_info">
            <strong class="name" title="<%= item.product.name %>"><%= item.product.name %></strong>
            <div><%= t("cart.quantity") << ": " %><%= item.quantity %></div>
            <div>
              <%= t("cart_quick.modal.total" ) << ": " %>
              <%= format_price item.total_price %>
            </div>
            <div>
              <%= link_to cart_path(item.product_id),
                method: :delete, remote: true do %>
                <span class="glyphicon glyphicon-trash text-danger
                  action-padding"></span>
              <% end %>
              <%= link_to edit_cart_path(item.product_id),
                method: :get, remote: true do %>
                <span class="glyphicon glyphicon-minus-sign
                  text-primary action-padding"></span>
              <% end %>
              <%= link_to cart_path(item.product_id), remote: true,
                method: :put do %>
                <span class="glyphicon glyphicon-plus-sign text-success
                  action-padding"></span>
              <% end %>
            </div>
          </div>
        </div>
      </span>
    </li>
  <% end %>
</div>
