<tr>
  <td>
    <% if check_domain_status domain %>
      <i class="glyphicon glyphicon-globe"></i>
    <% else %>
      <i class="glyphicon glyphicon-lock"></i>
    <% end %>
    <%= link_to domain_path(domain) do %>
      <span class="user-title" title="<%= domain.name %>">
        <%= truncate(domain.name, length: Settings.max_domain_name) %>
      </span>
    <% end %>
    <% unless domain.default? %>
      <% if domain.owner?(current_user.id) || domain.manage_by?(current_user) %>
        <ul class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% Domain.statuses.each do |key, value| %>
            <% if key != Settings.domain.default %>
              <li role="presentation">
                <%= link_to domain_path(domain, status: key), method: :put do %>
                  <%= raw display_domain_status value %>
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
            <% end %>
          <% end %>
        </ul>
      </ul>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to t("manage_domain.edit_member", num: domain.users.size),
      user_domains_path(domain_id: domain.id, approved: :true) %>
  </td>
  <td>
    <%= link_to t("manage_domain.edit_shop",
      num: domain.shop_domains.approved.size),
      shop_domains_path(domain_id: domain.id, approved: :true) %>
  </td>
  <td><%= domain.products.size %></td>
  <td>
    <% unless domain.default? %>
      <% if domain.owner?(current_user.id) || domain.manage_by?(current_user) %>
        <strong>
          <%= link_to t("edit_member"),
            user_searchs_path(domain_id: domain.id) %>
        </strong><br>
        <strong>
          <%= link_to shop_domains_path(domain_id: domain.id) do %>
            <%= t("shop_request") %>
            <%= domain.shop_domains.pending.size %>
          <% end %>
        </strong>
        <strong>
          <%= link_to content_tag(:i, t("manage_domain_users"), class: "icon-user"),
            "#", class: "btn btn-primary",
            data: {toggle: "modal", target: "#domain-member-modal-#{domain.id}"} %>
        </strong>
        <%= render "add_domain_members_modal", domain: domain %>  
        <strong>
          <%= link_to content_tag(:i, t("manage_domain_shops"), class: "icon-user"),
          "#", class: "btn btn-primary",
          data: {toggle: "modal", target: "#domain-shop-modal-#{domain.id}"} %>
        </strong>
        <%= render "manager_domain_shops_modal", domain: domain %> 
      <% end %>
    <% end %>
    </td>
    <td data-domain-id="<%= domain.id %>" data-domain-name="<%= domain.name %>"
      data-domain-status="<%= domain.status %>">
    <% unless domain.default? %>
      <% if domain.manage_by?(current_user) %>
        <%= link_to t("edit"), "#",
          class: "btn btn-block btn-success btn_domian btn_edit_domain",
          data: {toggle: "modal", target: "#edit-domain-modal"} %>
      <% elsif domain.owner?(current_user.id) %>
        <%= link_to t("edit"), "#",
          class: "btn btn-block btn-success btn_domian btn_edit_domain",
          data: {toggle: "modal", target: "#edit-domain-modal"} %>
        <%= link_to t("delete"), domain_path(domain.id), method: :delete,
          class: "btn btn-block btn-danger btn_domian btn_delete_domain",
          data: {confirm: t("common.delete_confirm")} %>
      <% else %>
        <% user_domain = UserDomain.find_by user_id: current_user.id,
          domain_id: domain.id %>
        <%= link_to t("manage_domain.leave"),
          user_domain_path(user_domain, domain_id: domain.id,
          user_id: current_user.id, leave_domain: true), method: :delete,
          data: {confirm: t("common.delete_confirm")},
          class: "btn btn-info btn_domian" %>
      <% end %>
    <% end %>
  </td>
</tr> 
