<tr>
  <td>
    <% if check_domain_status domain %>
      <i class="glyphicon glyphicon-globe"></i>
    <% else %>
      <i class="glyphicon glyphicon-lock"></i>
    <% end %>
    <%= link_to domain.name, domain_path(domain) %>
    <% unless domain.default? %>
      <% if domain.owner?(current_user.id) || domain.manage_by?(current_user) %>
        <ul class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% Domain.statuses.each do |key, value| %>
            <li role="presentation">
              <%= link_to domain_path(domain, status: key), method: :put do %>
                <%= raw display_domain_status value %>
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li role="separator" class="divider"></li>
          <% end %>
        </ul>
      </ul>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to t("manage_domain.edit_member", num: domain.users.size),
      user_domains_path(domain_id: domain.id, approved: :true) %>
  </td>
  <td>
    <%= link_to t("manage_domain.edit_shop",
      num: domain.shop_domains.approved.size),
      shop_domains_path(domain_id: domain.id, approved: :true) %>
  </td>
  <td><%= domain.products.size %></td>
  <td>
    <% unless domain.default? %>
      <% if domain.owner?(current_user.id) || domain.manage_by?(current_user) %>
        <strong>
          <%= link_to t("edit_member"),
            user_searchs_path(domain_id: domain.id) %>
        </strong><br>
        <strong>
          <%= link_to shop_domains_path(domain_id: domain.id) do %>
            <%= t("shop_request") %>
            <%= domain.shop_domains.pending.size %>
          <% end %>
        </strong>
      <% else %>
        <% user_domain = UserDomain.find_by user_id: current_user.id,
          domain_id: domain.id %>
        <%= link_to t("manage_domain.leave"),
          user_domain_path(user_domain, domain_id: domain.id,
          user_id: current_user.id, leave_domain: true), method: :delete,
          data: {confirm: t("common.delete_confirm")},
          class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </td>
</tr>
