<div class="col-md-3 col-xs-4 padding_0">
  <div class="list-domain">
    <h3 class="center margin_0" title="<%= domain.name %>">
      <%= domain.name %>
    </h3>
    <p class="domain-informaton padding_0">
      <% if check_domain_status domain %>
        <i class="material-icons font-size-20">public</i>
        <span><%= t "professed" %></span>
      <% else %>
        <i class="material-icons font-size-20">lock</i>
        <span><%= t "secret" %></span>
      <% end %>
    </p>
    <p class="domain-informaton padding_0">
      <i class="material-icons font-size-20">store</i>
      <span><%= t "manage_domain.edit_shop",
        num: domain.shop_domains.approved.size %></span>
    </p>
    <p class="domain-informaton padding_0">
      <i class="material-icons font-size-20">exit_to_app</i>
      <span><%= t "manage_domain.request_join_domain",
        num: domain.shop_domains.pending.size %></span>
    </p>
    <p class="domain-informaton padding_0">
      <i class="material-icons font-size-20">assignment_ind</i>
      <span><%= t "manage_domain.edit_member", num: domain.users.size %></span>
    </p>
    <div class="domain-item-hidden">
      <div class="domain-link center">
        <%= link_to t("enter_domain"), domain_path(domain) %>
        <% unless domain.default? %>
          <% if domain.owner?(current_user.id) || domain.manage_by?(current_user) %>
            <%= link_to t("manage_domain_shops"), "#domain-shop-modal-#{domain.id}",
              "data-toggle": "modal" %>
            <%= link_to t("manage_domain_users"), "#domain-member-modal-#{domain.id}",
             "data-toggle": "modal" %>
            <%= link_to t("edit"), "#edit-domain-modal-#{domain.id}",
              class: "btn-edit-domain", data: {toggle: "modal", "domain-id": domain.id} %>
            <% if domain.owner?(current_user.id) %>
              <%= link_to t("manage_domain.delete_domain"), domain_path(domain.id),
                method: :delete, data: {confirm: t("common.delete_confirm")} %>
            <% end %>
          <% else %>
            <% user_domain = UserDomain.find_by user_id: current_user.id,
              domain_id: domain.id %>
            <%= link_to t("manage_domain.leave"),
              user_domain_path(user_domain, domain_id: domain.id,
              user_id: current_user.id, leave_domain: true), method: :delete,
              data: {confirm: t("common.delete_confirm")} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "modal_edit_domain", domain: domain %>
<%= render "manager_domain_shops_modal", domain: domain %>
<%= render "add_domain_members_modal", domain: domain %>
