<div>
  <h2 class="row_h2">
    <%= t "domain_manager_header" %>
    <div class="btn_view_all_wrapper pull-right">
      <%= link_to t("create_new_domain"), "#new-domain-modal",
        class: "btn btn_view_all btn-warning", "data-toggle": "modal" %>
    </div>
  </h2>
</div>
<div class="col-md-12 padding-0">
  <%= render @own_domains %>
  <%= render @member_domains %>
</div>
<%= render "modal_new_domain" %>
