<div class="row">
  <div class="col-md-3 col-sm-12 col-xs-12">
    <div class="block-item-list block padding-0 col-md-12 col-sm-6
      col-xs-18 boder-radius-0">
      <h3 class="title padding-left-10 margin-left_domain form-header">
        <span class="text-header"><%= t "common.categories" %></span>
      </h3>
      <div class="clearfix body  margin-left_domain">
        <div class="category-list padding-top-0">
          <div class="<%= "scroll" if @domains.size > Settings.max_content_scroll %>">
            <div class="col-lg-6 col-md-12 col-xs-6 padding_0
              padding-left-right-5">
              <%= link_to products_path(domain_id: @domain.id),
                class: "categorie" do %>
                <span><%= t "common.category.all" %></span>
              <% end %>
            </div>
            <% @categories.each do |category| %>
              <% if number_product_in_category_by_domain(category, @domain) >
                Settings.min_product_in_category %>
                <div class="col-lg-6 col-md-12 col-xs-6
                  padding-left-right-5 padding_0">
                  <%= link_to domain_category_path(@domain, category),
                    class: "categorie bd-radius-category" do %>
                    <span class="domain-name"><%= category.name %></span>
                    <span class="categorie-count">
                      <%= number_product_in_category_by_domain category, @domain %>
                    </span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="block-item-list block padding-0 col-md-12 col-sm-6
      col-xs-18 boder-radius-0">
      <h3 class="title padding-left-10 margin-left_domain form-header">
        <span class="text-header"><%= t "public_domain" %>(<%= @domains.size %>)</span>
      </h3>
      <div class="clearfix body">
        <div class="category-list padding_0">
          <% if @domains.present? %>
            <div class="<%= "scroll" if @domains.size > Settings.max_content_scroll %>">
              <% @domains.each do |domain| %>
                <div class="col-lg-6 col-md-12 col-xs-6 padding_0
                  padding-left-right-5">
                  <%= link_to domain_path(domain),
                    class: "categorie" do %>
                    <span class="domain-name" title="<%= domain.name %>">
                      <%= domain.name %>
                    </span>
                    <span class="glyphicon glyphicon-globe icon-public-header"></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Begin carousel -->
  <div class="col-xs-12 col-sm-12 col-md-9">
    <div id="id_top_products" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% @shops_slide.each_with_index do |shop, index| %>
          <div class="<%= index == 0 ? 'item active' : 'item' %>">
            <%= image_tag shop.cover_image.url, alt: shop.name,
              class: "defaut-pic-cover" %>
            <div class="carousel-caption slide_bottom">
              <h3><%= shop.name %></h3>
              <p><%= shop.description %></p>
            </div>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#id_top_products" role="button"
        data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only"><%= t "common.previous" %></span>
      </a>
      <a class="right carousel-control" href="#id_top_products" role="button"
        data-slide="next">
        <span class="fa fa-angle-right left-55" aria-hidden="true"></span>
        <span class="sr-only"><%= t "common.next" %></span>
      </a>
    </div>
  </div>
  <!-- End carousel -->
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="margin-top-30 border-top-shop">
      <span class="top-shop-product"><%= t "common.top_shops" %></span>
      <span><span class="border-top-shop-product"></span></span>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <% if @shops.present? %>
      <div class="owl-carousel owl-theme">
        <%= render @shops %>
      </div>
    <% else %>
      <div class="no-shops">
        <%= t "not_have_shops" %>
      </div>
    <% end %>
    <div class="line-end-silde"></div>
    <% if current_user.is_member_of_domain?(@domain) && @shops.present? %>
      <div class="btn_view_all_wrapper pull-center">
        <%= link_to domain_shops_path(@domain),
          class: "view-all" do %>
          <span class="border-view-all">
            <span class="view-all-left"></span>
          </span>
          <span class="text-view-all"><%= t "common.btn_view_all" %></span>
          <span class="border-view-all">
            <span class="view-all-right"></span>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 margin-top-50">
    <div class="margin-bottom-20 margin-top-30 border-top-shop">
      <span class="top-shop-product"><%= t "common.top_products" %></span>
      <span><span class="border-top-shop-product"></span></span>
    </div>
  </div>
  <div class="col-md-12 magin_top_10px">
    <% if @products_shop.present? %>
      <div class="row padding-left-right-15">
        <%= render @products_shop.flatten.slice(0, 12) %>
      </div>
    <% else %>
      <div class="no-products">
        <%= t "dashboard.order_managers.index.not_products" %>
      </div>
    <% end %>
    <div class="line-end-silde margin-top-20"></div>
    <% if current_user.is_member_of_domain?(@domain) && @products_shop.present? %>
      <div class="btn_view_all_wrapper pull-center">
        <%= link_to domain_products_path(@domain),
          class: "view-all" do %>
          <span class="border-view-all">
            <span class="view-all-left"></span>
          </span>
          <span class="text-view-all"><%= t "common.btn_view_all" %></span>
          <span class="border-view-all">
            <span class="view-all-right"></span>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render "modal_order_fast" %>
