<% if @support.users.present? %>
  <% @support.users.each do |user| %>
    <tr>
      <td class="td-user-image-table">
        <div class="search-user-image-owner">
          <%= image_tag user.avatar.url %>
        </div>
      </td>
      <td class="td-user-name-table"><%= user.name %></td>
      <td class="td-user-action-table">
        <% user_of_shop = get_user_of_shop user.id, @shop.id %>
        <% if @support.shops_managers.include? user_of_shop  %>
          <% if !current_user? user %>
            <% if @shop.shop_owner?(current_user.id) %>
              <%= link_to t("delete"), dashboard_shop_shop_manager_path(@shop.id,
                user_id: user.id, shop_id: @shop.id),
                method: :delete, data: {confirm: t("common.delete_confirm")},
                class: "btn btn-danger" %>
              <% if user_of_shop.member? %>
                <% role = Settings.shop_manager %>
                <%= link_to t("manage_domain.manage"), dashboard_shop_shop_manager_path(@shop.id, role,
                  user_id: user.id, shop_id: @shop.id),
                  method: :patch, class: "btn btn-primary" %>
              <% end %>
              <% if user_of_shop.manager? %>
                <% role = Settings.shop_member %>
                <%= link_to t("manage_domain.remove"), dashboard_shop_shop_manager_path(@shop.id, role,
                  user_id: user.id, shop_id: @shop.id),
                  method: :patch, class: "btn btn-primary btn-warning" %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% manager_of_shop = get_manager_of_shop current_user.id, @shop.id %>
          <% if manager_of_shop.present? ||
            @shop.shop_owner?(current_user.id) %>
            <%= link_to t("add"), dashboard_shop_shop_managers_path(user_id: user.id,
              shop_id: @shop.id), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td class="td-user-image-table">
      <div class="search-user-image-owner">
        <%= image_tag current_user.avatar.url %>
      </div>
    </td>
    <td class="td-user-name-table"><%= current_user.name %></td>
    <td class="td-user-action-table"></td>
  </tr>
<% end %>
