<% if users.present? %>
  <% users.each do |user| %>
    <tr>
      <td class="td-user-image-table">
        <div class="search-user-image-owner">
          <%= image_tag user.avatar.url %>
        </div>
      </td>
      <td class="td-user-name-table"><%= user.name %></td>
      <td class="td-user-action-table user_item_<%= user.id %>-<%= domain.id %>">
        <% if shop.shop_owner?(current_user.id) %>
          <% if !current_user? user %>
            <% manager_shop = get_manager_of_shop user.id, shop.id %>
            <% if manager_shop.present? && manager_shop.domains.include?(domain) %>
              <% role = Settings.shop_member %>
              <%= link_to t("unset_manager"),
                dashboard_shop_manager_domain_path(shop.id,
                user_id: user.id, shop_id: shop.id, domain_id: domain.id),
                method: :delete, class: "btn btn-warning", remote: true %>
            <% else %>
              <% role = Settings.shop_manager %>
              <%= link_to t("manage_domain.manage"),
                dashboard_shop_manager_domains_path(
                user_id: user.id, shop_id: shop.id, domain_id: domain.id),
                method: :post, class: "btn btn-primary btn-success", remote: true %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td class="td-user-image-table">
      <div class="search-user-image-owner">
        <%= image_tag current_user.avatar.url %>
      </div>
    </td>
    <td class="td-user-name-table"><%= current_user.name %></td>
    <td class="td-user-action-table"></td>
  </tr>
<% end %>
