$('.cart-item-show').replaceWith('<%= j render( partial: "carts/list") %>');
$('.cart-item').replaceWith('<%= j render(partial: "shared/cart") %>');
$('.items-count').text('<%= @cart.count %>');
<% if @cart.is_first_added? %>
  $('.dropdown-cart').append('<span class="caret"></span>');
  $('.li-dropdown-cart').append('<ul class="dropdown-menu min-width-cart" role="menu">'
    + '<%= j render "shared/cart" %><li class="divider"></li><li>'
    + '<%= j link_to t("cart.view_cart_all"), domain_carts_path(@domain), class: "btn-add btn" %>'
    + '</li></ul>');
<% end %>
$('.render_js_after_ajax_rails').html('<%= javascript_include_tag "modal" %>')
$.growl.notice({title: '<%= t "common.notifications" %>',
  message: '<%= t "add_cart_succes" %>'});
