<div class="modal fade" id="manage-domain-of-shop-<%= shop.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title modal_text_header"><%= shop.name %></h4>
      </div>
      <div class="modal-body">
        <div>
          <table id="domain-table"
            class="table table-striped table-hovertable-bordered manage-domain-of-shop">
            <thead>
            <tr>
              <th><%= t "request_shop.domain_name" %></th>
              <th><%= t "members" %></th>
              <th><%= t "shop" %></th>
              <th><%= t "products" %></th>
              <th><%= t "request_shop.status" %></th>
              <th class="last">
                <%= t "request_shop.request_to_domain" %>
              </th>
            </tr>
            </thead>
            <tbody>
            <% @current_user.domains.includes(:shops).each do |domain|  %>
              <tr>
                <td title="<%= domain.name %>">
                  <%= load_icon_status_domain domain %>
                  <%= truncate(domain.name, length: Settings.max_domain_name) %>
                </td>
                <td><%= domain.users.size %></td>
                <td><%= domain.shop_domains.approved.size %></td>
                <td><%= domain.products.size %></td>
                <td>
                  <% if domain.shops.include? shop %>
                    <%= status_request_shop shop.request_status domain %>
                  <% end %>
                </td>
                <td>
                  <% shop_domain = ShopDomain.find_by shop_id: shop.id,
                    domain_id: domain.id %>
                  <% if !domain.shops.include? shop %>
                    <% if domain.owner? current_user.id %>
                      <%= link_to t("request_shop.request_to_domain"),
                        shop_domains_path(shop_id: shop.id,
                        domain_id: domain.id, status: :approved), method: :post,
                        class: "btn btn-info refresh" %>
                    <% else %>
                      <%= link_to t("request_shop.request_to_domain"),
                        shop_domains_path(shop_id: shop.id,
                        domain_id: domain.id, status: :pending), method: :post,
                        class: "btn btn-info refresh"%>
                    <% end %>
                  <% else %>
                    <% if shop.request_status(domain).rejected? %>
                      <%= link_to t("request_shop.request_to_domain"),
                        shop_domain_path(shop_domain, status: :pending),
                        method: :put, class: "btn btn-info refresh"%>
                    <% else %>
                      <%= link_to t("request_shop.cancel"),
                        "#confirm-cancel-request-#{domain.id << shop.id}",
                        "data-toggle": "modal",class: "btn btn-danger" %>
                      <%= render "modal_confirm_cancel_request", domain: domain,
                        shop: shop, shop_domain: shop_domain %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to  t("done"), "javascript:void(0)", "data-dismiss": "modal",
          class: "btn btn_add_to_cart btn-add padding-left-for-button" %>
      </div>
    </div>
  </div>
</div>
