<div id="confirm-cancel-request-<%= domain.id << shop.id %>"
  class="modal fade modal-confirm-cancel-request">
  <div class="modal-dialog modal-delete-domain">
    <div class="modal-content">
      <div class="modal-header modal_header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title modal_text_header"><%= t "common.notifications" %></h4>
      </div>
      <div class="modal-body">
        <p class="center">
          <%= t("confirm_cancel_request_shop", domain_name: domain.name,
            shop_name: shop.name) %>
        </p>
      </div>
      <div class="modal-footer margin-top-0">
        <button type="button" class="btn btn-default form-button btn-confirm-cancel">
          <%= t "cancel" %>
        </button>
        <%= link_to t("submit"), shop_domain_path(shop_domain,
          domain_id: domain.id, shop_id: shop.id), method: :delete,
          class: "btn btn-add form-button" %>
      </div>
    </div>
  </div>
</div>
