<div class="panel-body">
  <table class="table table-striped table-hover margin_0">
    <thead>
      <tr>
        <th><%= t ".image" %></th>
        <th><%= t ".name" %></th>
        <th><%= t "description" %></th>
        <th><%= t ".price" %></th>
        <th><%= t ".status" %></th>
        <th><%= t ".actions" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @products %>
    </tbody>
  </table>
  <div class="load-more-products col-md-12 col-xs-12 margin-top-30">
    <% if check_length_perpage @products %>
      <%= link_to_next_page(@products, t("view_more_products")) %>
    <% end %>
  </div>
</div>
