<div class="col-sm-4 row block-shop-feed-item2 padding-l div-item">
  <div class="col-md-4 shop_image">
    <div class="row thumbnail shop_width">
      <% if shop.domains.present? && @domain.present? %>
        <%= link_to domain_dashboard_shop_path(@domain, shop) do %>
          <%= image_tag shop.avatar.url, class: "image-shop-show" %>
        <% end %>
      <% else %>
        <%= link_to dashboard_shop_path(shop, domain_id: Settings.not_find) do %>
          <%= image_tag shop.avatar.url, class: "image-shop-show" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8 shop_text">
    <div class="row">
      <h3>
        <% if shop.domains.present? && @domain.present? %>
          <%= link_to shop.name, domain_dashboard_shop_path(@domain, shop) %>
        <% else %>
          <%= link_to shop.name, dashboard_shop_path(shop, domain_id: Settings.not_find) %>
        <% end %>
      </h3>
      <%= render "shared/shop_status_label", shop: shop %>
      <input id="shop-average-rating" type="number"
        class="rating-loading star-rating" data-size="sm"
        value=<%= shop.averate_rating %> >
      <div class="description quote"><p><%= shop.description %></p></div>
      <% if @domain.present? %>
        <% if params[:add_shop] == Settings.add_shop || params[:add_shop] == Settings.edit_shop %>
          <% if !@domain.shops.include? shop %>
            <%= link_to t("add"), shop_domains_path(shop_id: shop.id, domain_id: @domain.id, status: :active),
              method: :post, class: "btn btn-primary button-action" %>
          <% else %>
            <% shop_domain = ShopDomain.find_by shop_id: shop.id, domain_id: @domain.id %>
            <%= link_to t("delete"), shop_domain_path(shop_domain, shop_id: shop.id, domain_id: @domain.id),
              method: :delete, class: "btn btn-danger btn_block button-action" %>
          <% end %>
        <% else %>
          <% unless shop.in_domain? @domain %>
            <div class="request-status">
              <% if @domain.shops.include? shop %>
                <span class="btn btn-warning btn-sm">
                  <%= shop.request_status @domain %>
                </span>
              <% else %>
                <% if @domain.owner == current_user.id %>
                  <%= link_to t("request_shop.request_to_domain"),
                    shop_domains_path(shop_id: shop.id, domain_id: @domain.id, status: :active),
                    method: :post, class: "btn btn-primary btn-info btn-sm refresh" %>
                <% else %>
                  <%= link_to t("request_shop.request_to_domain"),
                    shop_domains_path(shop_id: shop.id, domain_id: @domain.id, status: :wait),
                    method: :post, class: "btn btn-primary btn-info btn-sm refresh" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
