<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
  <div class="manage_shops_item <%= shop.on? ? "shop_item_open" : "shop_item_close"%>">
    <div class="col-md-4 col-sm-4 col-xs-4 padding-0">
      <div class="item_image">
        <%= link_to dashboard_shop_path shop do %>
          <%= image_tag shop.avatar.url %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8">
      <div class="item_info">
        <%= link_to shop.name, dashboard_shop_path(shop), title: shop.name, class: "shop_name" %>
      </div>
      <div class="item_tag">
        <div><i class="material-icons font-size-20">assignment_ind</i></div>
        <div><%= load_tag_owner_or_manager shop %></div>
      </div>
      <br>
      <div class="item_tag">
        <div><i class="material-icons font-size-20">store</i></div>
        <div><%= load_tag_shop_on_off_pending shop %></div>
      </div>
      <br>
      <div class="item_tag">
        <div><i class="material-icons font-size-20">alarm</i></div>
        <div><%= load_tag_coutdown_auto_close_shop shop %></div>
      </div>
      <br>
      <div class="item_tag">
        <div><i class="material-icons font-size-20">assistant_photo</i></div>
        <div class=""><%= load_tag_total_domain shop %></div>
      </div>
      <br>
    </div>
    <div class="function">
      <div class="col-sm-12 col-md-12 col-xs-12 text-center padding-0 shop-function">
        <div class="function_manage">
          <div class="btn_function">
            <%= link_to dashboard_shop_path(shop), class: "btn_item" do %>
              <div><i class="material-icons btn_icon">settings</i></div>
              <div><%= t "manage_shop_detail" %></div>
            <% end %>
          </div>
          <% unless shop.pending? %>
            <div class="btn_function">
              <%= link_to "javascript:void(0)", "data-id": shop.id,
                class: "btn_item btn_list_orders" do %>
                <div class="btn_icon material-icons">view_list</div>
                <div><%= t "dashboard.order.view_order_list" %></div>
              <% end %>
            </div>
            <div class="btn_function">
              <%= link_to dashboard_shop_order_managers_path(shop.id), class: "btn_item" do %>
                <div class="btn_icon material-icons">description</div>
                <div><%= t "dashboard.order.view_history_orders" %></div>
              <% end %>
            </div>
          <% end %>
          <div class="btn_function">
            <%= link_to edit_dashboard_shop_path(shop), remote: true,
              "data-shop-id": "#{shop.id}", class: "btn_item btn-edit-shop" do %>
              <div class="btn_icon material-icons">border_color</div>
              <div><%= t "general_info.edit_shop" %></div>
            <% end %>
          </div>
          <% unless shop.pending? %>
            <% if shop.is_owner? current_user %>
              <div class="btn_function">
                <%= link_to "#manage-domain-of-shop-#{shop.id}",
                  "data-toggle": "modal", class: "btn_item" do %>
                  <i class="btn_icon material-icons">assistant_photo</i>
                  <div><%= t "manage_joins_domains" %></div>
                <% end %>
              </div>
            <% end %>
            <% if shop.on? %>
              <div class="btn_function">
                <%= link_to "javascript:void(0)",
                  class: "btn_item btn-open-close-shop", data: {type: "close", id: shop.id} do %>
                  <div class="btn_icon material-icons">lock_outline</div>
                  <div><%= t "general_info.close_shop_now" %></div>
                <% end %>
              </div>
            <% else %>
              <div class="btn_function">
                <%= link_to "javascript:void(0)",
                  class: "btn_item btn-open-close-shop", data: {type: "open", id: shop.id} do %>
                  <div class="btn_icon material-icons">lock_open</div>
                  <div><%= t "general_info.open_shop_now" %></div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<%= render "modal_manage_joins_domains", shop: shop %>
