
<tr>
  <td><%= link_to shop.name, domain_dashboard_shop_path(@domain, shop) %></td>
  <td>
    <div class="image-shop-show">
      <%= image_tag shop.avatar.url, class: "thumbnail" %>
    </div>
  </td>
  <td>
    <div class="description quote"><%= shop.description %></div>
  </td>
  <td>
    <%= shop.products.size %>
  </td>
  <td>
    <%= shop.status %>
  </td>
  <td class="text-center">
    <div>
      <% if @domain.owner?(current_user) && !@domain.shops.include?(shop) %>
        <%= link_to t("add"), shop_domains_path(shop_id: shop.id, 
          domain_id: @domain.id, status: :approved),
          method: :post, class: "btn btn-primary"
        %>
      <% end %>
    </div>
    <%= link_to t("manage_domain.view_all_domains"), 
      request_shop_domains_path(shop_id: shop.id) %>
  </td>
</tr>
