<div class="row">
  <div class="shop_image_cover_and_avatar">
    <%= simple_form_for [:dashboard, @shop], html: {id: "form_id"} do |f| %>
      <%= image_tag @shop.cover_image.url, class: "defaut-pic-cover", id: "image-cover" %>
      <div class="change_image_hover">
        <%= f.file_field :cover_image, onchange: "this.form.submit();", class: "hide" %>
        <%= link_to "javascript:void(0)", class: "change_image" do %>
          <i class="material-icons change_icon">camera_enhance</i>
          <div class="change_item"><%= t "change_picture" %></div>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <%= image_tag @shop.avatar.url, class: "avatar", id: "img-avatar" %>
        <div class="change_image_hover">
          <%= f.file_field :avatar, onchange: "this.form.submit();", class: "hide" %>
          <%= link_to "javascript:void(0)", class: "change_image" do %>
            <i class="material-icons change_icon">camera_enhance</i>
            <div class="change_item"><%= t "change_picture" %></div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="col-md-6 col-sm-5 col-xs-5">
      <h1 class="title" title="<%= @shop.name %>">
        <%= @shop.name %>
      </h1>
      <% if @shop.pending? %>
        <%= render "shared/shop_status_label", shop: @shop %>
      <% else %>
        <div>
          <marquee direction="left" class="text-description" scrollamount=5>
            <%= @shop.description %>
          </marquee>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-4 padding-0">
      <div class="block padding-0">
        <div class="title padding-left-10 margin-left_domain form-header">
          <strong class="text-header number-shop-manager">
            <%= label_tag "", t("common.shop_managers",
              num: managers_of_domans(@shop).size),
            class: "text-header" %>
          </strong>
        </div>
        <div class="list_owner_and_manger">
          <div class="list-shop-manager">
            <%= render "list_shop_manager",
              shop_managers: managers_of_domans(@shop) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12 text-center padding-top-20">
    <div class="general_info">
      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="general_item">
          <div class="col-sm-3 col-md-3 col-xs-3 padding-0">
            <i class="material-icons general_icon">backup</i>
          </div>
          <div class="col-sm-9 col-md-9 col-xs-9 padding-right-0 padding-left-0">
            <div class="general_number"><%= @shop.orders.size %></div>
            <%= t "general_info.total.orders" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="general_item">
          <div class="col-sm-3 col-md-3 col-xs-3 padding-0">
            <i class="material-icons general_icon">shopping_basket</i>
          </div>
          <div class="col-sm-9 col-md-9 col-xs-9 padding-right-0 padding-left-0">
            <div class="general_number"><%= orders_pending_of_shop @shop %></div>
            <%= t "general_info.total.order_pending" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="general_item">
          <div class="col-sm-3 col-md-3 col-xs-3 padding-0">
            <i class="material-icons general_icon">restore</i>
          </div>
          <div class="col-sm-9 col-md-9 col-xs-9 padding-right-0 padding-left-0">
            <div class="general_number">
              <%= l @shop.time_auto_reject, format: :short_time %>
            </div>
            <%= t "general_info.reject_order_auto" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-xs-6">
        <div class="general_item">
          <div class="col-sm-3 col-md-3 col-xs-3 padding-0">
            <i class="material-icons general_icon">storage</i>
          </div>
          <div class="col-sm-9 col-md-9 col-xs-9 padding-right-0 padding-left-0">
            <div class="general_number">
              <%= @shop.products.size %>
            </div>
            <%= t "general_info.total.products" %>
          </div>
        </div>
        </div>
    </div>
    <div class="list-functions">
      <%= label_tag "", t("function"), class: "title-list-functions"%>
      <div class="function_manage">
      <% unless @shop.pending? %>
        <div class="btn_function">
          <%= link_to "javascript:void(0)", "data-id": @shop.id,
            class: "btn_item btn_list_orders" do %>
            <div class="btn_icon material-icons">view_list</div>
            <div><%= t "dashboard.order.view_order_list" %></div>
          <% end %>
        </div>
        <div class="btn_function">
          <%= link_to dashboard_shop_order_managers_path(@shop.id), class: "btn_item" do %>
            <div class="btn_icon material-icons">description</div>
            <div><%= t "dashboard.order.view_history_orders" %></div>
          <% end %>
        </div>
      <% end %>
      <div class="btn_function">
        <%= link_to edit_dashboard_shop_path(@shop), remote: true,
          "data-shop-id": "#{@shop.id}", class: "btn_item btn-edit-shop" do %>
          <div class="btn_icon material-icons">border_color</div>
          <div><%= t "general_info.edit_shop" %></div>
        <% end %>
      </div>
      <div class="btn_function">
        <%= link_to new_dashboard_shop_product_path(@shop), remote: true,
          class: "btn_item" do %>
          <div class="btn_icon material-icons">add_shopping_cart</div>
          <div><%= t "general_info.add_new_product" %></div>
        <% end %>
      </div>
      <% unless @shop.pending? %>
        <div class="btn_function">
          <%= link_to "#modal_update_time_order", class: "btn_item",
            "data-toggle": "modal" do %>
            <div class="btn_icon material-icons">alarm</div>
            <div><%= t "dashboard.shops.show.edit_all_time" %></div>
          <% end %>
        </div>
        <% if @shop.on? %>
          <div class="btn_function">
            <%= link_to "javascript:void(0)",
            class: "btn_item btn-open-close-shop", data: {type: "close", id: @shop.id} do %>
              <div class="btn_icon material-icons">lock_outline</div>
              <div><%= t "general_info.close_shop_now" %></div>
            <% end %>
          </div>
        <% else %>
          <div class="btn_function">
            <%= link_to "javascript:void(0)",
              class: "btn_item btn-open-close-shop", data: {type: "open", id: @shop.id} do %>
              <div class="btn_icon material-icons">lock_open</div>
              <div><%= t "general_info.open_shop_now" %></div>
            <% end %>
          </div>
        <% end %>
        <% if @shop.owner_id == current_user.id %>
          <div class="btn_function">
            <%= link_to "#shop-manager-modal", "data-toggle": "modal", class: "btn_item" do %>
              <div class="btn_icon material-icons">person_pin</div>
              <div><%= t "change_shop_owner" %></div>
            <% end %>
          </div>
          <div class="btn_function">
            <%= link_to "#manage-domain-of-shop-#{@shop.id}",
              "data-toggle": "modal", class: "btn_item" do %>
              <i class="btn_icon material-icons">assistant_photo</i>
              <div><%= t "manage_joins_domains" %></div>
            <% end %>
          </div>
          <div class="btn_function">
            <%= link_to "#shop-followers-modal",
              data: {toggle: "modal"}, class: "btn_item" do %>
              <i class="btn_icon material-icons">favorite</i>
              <div><%= t "general_info.total.followers" %></div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!-- body -->
<div class="block-shop-header clearfix">
  <div>
  <h2 class="section_title margin_right_15px row_h2">
    <% if @products.any? %>
      <%= t ".has_products" %>
    <% else %>
      <%= t ".no_product" %>
    <% end %>
  </h2>
  </div>
  <div class="box_pro">
    <%= render "products" if @products.any? %>
  </div>
  <div class="load-more-products col-md-12 col-xs-12 margin-top-30">
    <% unless check_length_perpage_product @products %>
      <%= link_to_next_page(@products, t("view_more_products")) %>
    <% end %>
  </div>
</div>
<!-- modals -->
<%= render "modal_add_managers" %>
<%= render "modal_change_owner" %>
<%= render "modal_settings_time_orders" %>
<%= render "modal_manage_joins_domains", shop: @shop %>
<%= render "modal_shop_followers", followers: @shop.followers %>
<div id="new-edit-product-modal" class="modal fade"></div>
<div id="edit-shop-modal" class="modal fade"></div>
