<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body orders-hidden" id="order-<%= order.id %>" >
      <input type="hidden" value=<%= order.id %> >
      <%= render "order_products", order_products: order.order_products %>
      <div class="pull-right">
        <h4>
          <b><%= t ".total" %>: </b><%= order.total_price %> <%= t"cart.vnd" %>
        </h4>
      </div>
    </div>
  </div>
</div>
