<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-1">
        <div class="order-status-<%= order.id %> orders">
          <input type="hidden" value=<%= order.id %>>
           <input type="checkbox" name="vehicle" class="checkbox-abc"/>
          <span style="display: inline"><%= status_order order %></span>
          <span style="display: inline"><%= l order.created_at, format: :short_date %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body" id="order-<%= order.id %>">
      <%= render "order_products", order_products: order.order_products %>
      <div class="pull-right">
        <h4>
          <b><%= t ".total" %>: </b><%= order.total_price %> <%= t"cart.vnd" %>
        </h4>
      </div>
    </div>
  </div>
</div>
