<tr>
  <td><%= shop_domain.id %></td>
  <td>
    <%= shop_domain.shop.name %>
  </td>
  <td>
    <% shop_domain.shop.users.each do |user| %>
      <%= user.name %><br>
    <% end %>
  </td>
  <td><%= shop_domain.shop.products.size %></td>
  <td>
    <strong>
      <%= link_to t("accept"),
        shop_domain_path(shop_domain, status: :active), method: :put %>
    </strong><br>
    <strong>
      <%= link_to t("delete"),
        shop_domain_path(shop_domain, status: :blocked), method: :put %>
    </strong>
  </td>
</tr>
