<div class="container">
  <h2 class="order_manager"><%= t ".title" %></h2>
  <div class="panel panel-default">
    <div class="search_between panel_search text-center">
      <div class="row">
        <div class="col-md-1 margin my-margin">
          <span class="label-span">
            <%= t ".start_date" %>
          </span>
        </div>
        <div class="col-md-2">
          <%= text_field_tag :start_date, params[:start_date],
            class: "form-control order-manager-datepicker
              order-manager-date order-manager-start",
            placeholder: t(".start_date") %>
        </div>
        <div class="col-md-1 margin my-margin">
          <span class="label-span">
          <%= t ".end_date" %>
          </span>
        </div>
        <div class="col-md-2">
          <%= text_field_tag :end_date, params[:end_date],
            class: "form-control order-manager-datepicker 
              order-manager-date order-manager-end",
            placeholder: t(".end_date") %>
        </div>
        <div class="col-md-2 margin my-margin">
          <span class="label-span">
          <%= t(".filter_by") %>
          </span>
        </div>
        <div class="col-md-2">
          <%= select_tag "history-order-manager",
            options_for_select(order_manage_filter),
            class: "history-order-manager form-control inline" %>
        </div>
        <%= hidden_field_tag :shop_id, @shop.id %>
      </div>
    </div>
  </div>
  <br>
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#done"><%= t ".done_orders" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#reject"><%= t ".reject_orders" %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="done" class="tab-pane fade in active">
      <div class="well">
        <div class="panel-group">
          <div class="history-order-done">
            <%= render "order_product", order_products: @order_products_done,
              type: :done %>
          </div>
        </div>
      </div>
    </div>
    <div id="reject" class="tab-pane fade">
      <div class="well">
        <div class="panel-group">
          <div class="history-order-reject">
            <%= render "order_product", order_products: @order_products_reject,
              type: :rejected %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
