<h1 class="text-center title"><%= t "manage_domain.user" %></h1>
<div class="add-user-table">
  <table class="table table-striped table-hover table-bordered">
    <thead class="">
      <tr>
        <th><%= t "common.number" %></th>
        <th><%= t "admin.users.index.name" %></th>
        <th><%= t "admin.users.index.email" %></th>
        <th><%= t "admin.users.index.chatwork" %></th>
        <th><%= t "admin.users.index.avatar" %></th>
        <th><%= t "admin.users.index.description" %></th>
        <th><%= t "admin.users.index.actions" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render "users/user" %>
    </tbody>
  </table>
</div>
