<div class="list-ads-items">
  <div class="col-md-3 item-content">
    <% if post.images.any? %>
      <%= link_to domain_ads_post_path(domain_id: @domain, id: post) do %>
        <%= image_tag post.images.first.image_url, class: "item-image" %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-9">
    <%= link_to domain_ads_post_path(domain_id: @domain, id: post) do %>
      <span class="post-title">
        <%= post.title[0..Settings.post.max_content] %>
        <%= post.title[0..Settings.post.max_content].length > Settings.post.max_content ? "..." : "" %>
      </span>
    <% end %>

    <%= link_to domain_ads_post_path(domain_id: @domain, id: post) do %>
      <p class="price-item">
        <%= post.content[0..Settings.post.max_content] %>
        <%= post.content[0..Settings.post.max_content].length > Settings.post.max_content ? "..." : "" %>
      </p>
    <% end %>

    <span>
      <i class="fa fa-flag-checkered">
        <%= t "ads.post.modes.#{post.mode}" %> | <%= t "ads.post.category" %>:
        <%= post.category_name %>
      </i>
    </span>

    <div class="meta-tag">
      <span><i class="fa fa-calendar">
        <%= t("ads.post.created_at", time: time_ago_in_words(post.created_at)).html_safe %></i>
      </span><br />

      <span><i class="fa fa-comment">
        <%= link_to domain_ads_post_path(domain_id: @domain, id: post) do %>
          <%= pluralize post.reviews.count, t("ads.post.post.review") %>
        <% end %></i>
      </span>

      <span class="pull right">
        <i class="fa fa-user">
          <%= link_to post.user_name, user_path(post.user) %>
        </i>
      </span>

      <% if post.domain %>
        <span><i class="fa fa-foursquare">
          <%= link_to post.domain_name, domain_path(post.domain) %></i>
        </span>
      <% end %>
    </div>
  </div>
</div>
