<div class="media">
  <%= form_for review, url: review_path(domain_id: @domain.slug,
    post_id: @post.id, id: review.id), method: :patch, remote: true do |f| %>

    <div class="media-left ads-review-avatar">
      <%= image_tag review.user_avatar.url, class: "media-object"%>
    </div>

    <div class="media-body">
      <h4 class="media-heading">
        <%= review.user_name %>
        <small>
          <i><%= t "ads.post.post_on" %>
          <%= review.created_at.strftime Settings.review.date_format %></i>

          <% review.rating.to_i.times do %>
            <i class="fa fa-star yellow"></i>
          <% end %>

          <% (Settings.max_rate_point - review.rating.to_i).times do %>
            <i class="fa fa-star-o yellow"></i>
          <% end %>
        </small>
      </h4>

      <p name="review[review]"><%= raw review.review %></p>

      <% like = (review.user == current_user) ? "" : "like" %>
      <% if review.like_by? current_user %>
        <i id="<%= like %>" class="fa fa-heart heart"></i>
      <% else %>
        <i id="<%= like %>" class="fa fa-heart-o heart"></i>
      <% end %>

      <span class="like-label">+<%= review.likes.size %></span>
    </div>

    <%= f.hidden_field :like, value: !review.like_by?(current_user) %>
    <%= hidden_field_tag :score, review.rating.to_i %>
  <% end %>
</div>
