<%= link_to new_domain_ads_post_path(@domain) do %>
  <div class="new-post-button">
    <button>
      <span class="new-post-tooltip">
        <%= t "ads.post.index.post_your_ads" %>
      </span>
      <i class="fa fa-plus new-post-icon"></i>
    </button>
  </div>
<% end %>

<div class="content-ads">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="block-item-list block padding-0 col-md-12 col-sm-6
        col-xs-18 boder-radius-0">
        <h3 class="title padding-left-10 margin-left_domain form-header">
          <span class="text-header"><%= t "ads.post.index.categories" %></span>
        </h3>

        <div class="clearfix body margin-left_domain">
          <div class="category-list padding-top-0 scroll-categories">
            <% @post_support.parent_categories.each do |category| %>
              <div class="col-lg-6 col-md-12 col-xs-6
                padding-left-right-5 padding_0">
                <%= link_to domain_ads_posts_path(@domain, category_slug: category.slug,
                  type: @post_support.filtered_param[:type],
                  mode: @post_support.filtered_param[:mode]),
                  class: "categorie bd-radius-category" do %>
                  <span class="domain-name"><%= category.name %></span>
                  <span class="categorie-count"><%= category.subcategories_posts %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9">
      <div class="margin-bottom-20 border-top-shop">
        <span class="top-shop-product"><%= t "ads.post.index.featured" %></span>
      </div>

      <div id="id_top_posts" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% @post_support.featured_posts.each_with_index do |post, index| %>
            <div class="<%= index.zero? ? "active" : "" %> item"
              data-top-post="<%= domain_ads_post_path(domain_id: @domain, id: post) %>">
              <%= image_tag post.images.first.image_url, alt: post.title,
                class: "top-posts-img" %>

              <div class="carousel-caption slide_bottom">
                <div class="top-post-screen-shots">
                  <% post.images.each do |image| %>
                    <%= image_tag image.image_url, alt: post.title %>
                  <% end %>
                </div>

                <div class="top-post-info">
                  <div class="top-post-title">
                    <%= format_post_title post.title, Settings.post.top_content %>
                  </div>

                  <%= format_post_price post %>

                  <div class="top-post-mode">
                    <span><i class="fa fa-flag-checkered">
                      <%= t "ads.post.modes.#{post.mode}" %></i>
                    </span>
                  </div>

                  <div class="top-post-domain">
                    <% if post.domain %>
                      <span><i class="fa fa-foursquare white">
                        <%= post.domain_name %></i>
                      </span>
                    <% else %>
                      <span><i class="fa fa-globe">
                        <%= t "ads.post.arenas.professed" %></i>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <a class="left carousel-control" href="#id_top_posts" role="button"
          data-slide="prev">
          <span class="fa fa-angle-left" aria-hidden="true"></span>
          <span class="sr-only"><%= t "common.previous" %></span>
        </a>
        <a class="right carousel-control" href="#id_top_posts" role="button"
          data-slide="next">
          <span class="fa fa-angle-right left-55" aria-hidden="true"></span>
          <span class="sr-only"><%= t "common.next" %></span>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-8 ads-list">
    <div class="margin-bottom-20 margin-top-20 border-top-post">
      <span class="categorize-post-active"><%= t "ads.post.index.newest" %></span>
    </div>
    <div class="filter-post">
      <div class="dropdown status-filter">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <%= t "ads.post.modes.#{@post_support.filtered_param[:mode]}" %>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <% Post.modes.each do |key, _| %>
            <li><%= link_to t("ads.post.modes.#{key}"), domain_ads_posts_path(@domain,
              category_slug: @post_support.filtered_param[:category].slug,
              type: @post_support.filtered_param[:type],
              mode: key) %></li>
          <% end %>
        </ul>
      </div>

      <div class="dropdown categories-filter">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <%= @post_support.filtered_param[:category].name %>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <%= render partial: "category", collection: @post_support.parent_categories,
            as: :category %>
        </ul>
      </div>
    </div>

    <div id="filtered-posts">
      <%= render @post_support.filtered_posts %>
    </div>

    <% unless check_length_perpage_posts @post_support.filtered_posts %>
      <%= link_to_next_page @post_support.filtered_posts, t("view_more_posts") %>
    <% end %>
  </div>

  <div class="right-sidebar col-md-4">
    <div class="most-review">
      <h3 class="page-title"><%= t "ads.post.index.most_reviewed" %></h3>
      <ul class="side-item scroll-most-reviewed-posts">
        <% if @post_support.most_reviewed_post.length > 0 %>
          <% @post_support.most_reviewed_post.each do |post| %>
            <li>
              <%= link_to post.title, domain_ads_post_path(@domain, post) %>
              <span class="sidebar-tag">
                <i class="fa fa-comment"> <%= pluralize post.reviews.count, t("ads.post.post.review") %></i>
                <% if post.domain.present? %>
                  <i class="fa fa-foursquare red"> <%= post.domain_name %> </i>
                <% end %>
              </span>
            </li>
          <% end %>
        <% else %>
          <li><%= t "ads.post.index.no_reviewed_post" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render partial: "show_sweet.js.erb" %>
