<div class="content-ads">
  <div class="col-md-8">
    <h3 class="page-title"><span class="main-title">Chuyen muc rao vat</span></h3>
      <a class="btn category-btn"><span class="icon-am-thuc"></span></br>
        <p>Category</p>
      </a>
      <a class="btn category-btn"><span class="icon-xe-co"></span></br>
        <p>Category</p>
      </a>
      <a class="btn category-btn"><span class="icon-do-handmade"></span></br>
        <p>Category</p>
      </a>
      <a class="btn category-btn"><span class="icon-do-dien-tu"></span></br>
        <p>Category</p>
      </a>
      <a class="btn category-btn"><span class="icon-am-thuc"></span></br>
        <p>Category</p>
      </a>
      <a class="btn category-btn"><span class="icon-do-dien-tu"></span></br>
        <p>Category</p>
      </a>
      <div class="row btn-post-ads">
        <a href="#" class="btn-add"><i class="fa fa-pencil"></i>  Post your ads</a>
      </div>
  </div>
  <div class="col-md-4 list-office">
    <div class="row">
      <h3 class="page-title">Cua Hang Noi Bat</h3>
        <span class="shop-image"><%= image_tag "shop.png"%></span>
        <span class="shop-image"><%= image_tag "shop.png"%></span>
        <span class="shop-image"><%= image_tag "shop.png"%></span>
        <span class="shop-image"><%= image_tag "shop.png"%></span>
    </div>
  </div>
  <div class="col-md-8 ads-list">
    <h3 class="page-title">Tin dang moi nhat</h3>
    <div class="filter-post">
      <div class="dropdown status-filter">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Trang thai
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Can Ban</a></li>
          <li><a href="#">Can Mua</a></li>
        </ul>
      </div>
      <div class="dropdown time-filter">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Thoi gian
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Moi nhat</a></li>
          <li><a href="#">Cu Nhat</a></li>
        </ul>
      </div>
      <div class="dropdown categories-filter">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">The loai
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Am thuc</a></li>
          <li><a href="#">Xe co</a></li>
          <li><a href="#">Nha Dat</a></li>
          <li><a href="#">Do dien tu</a></li>
          <li><a href="#">Do handmade</a></li>
        </ul>
      </div>
    </div>
    <div class="list-ads-items">
      <div class="col-md-3 item-content">
        <%= image_tag "sale.jpg", class: "item-image"%>
      </div>
      <div class="col-md-9">
        <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipisicing!</span>
        <p class="price-item">150.000 vnd </p>
        <span><i class="fa fa-flag-checkered"> Can Ban | Category</i></span>
        <div class="meta-tag">
          <span><i class="fa fa-calendar"> <%= Date.today %></i></span>
          <span><i class="fa fa-comment"> 20 Review </i></span>
          <span class="pull right"><i class="fa fa-user"> Owner</i></span>
          <span><i class="fa fa-foursquare"> Da Nang Office </i></span>
        </div>
      </div>
    </div>
    <div class="list-ads-items">
      <div class="col-md-3 item-content">
        <%= image_tag "sale.jpg", class: "item-image"%>
      </div>
      <div class="col-md-9">
        <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipisicing!</span>
        <p class="price-item">150.000 vnd </p>
        <span><i class="fa fa-flag-checkered"> Can Ban | Category</i></span>
        <div class="meta-tag">
          <span><i class="fa fa-calendar"> <%= Date.today %></i></span>
          <span><i class="fa fa-comment"> 20 Review </i></span>
          <span class="pull right"><i class="fa fa-user"> Owner</i></span>
          <span><i class="fa fa-foursquare"> Da Nang Office </i></span>
        </div>
      </div>
    </div>
    <div class="list-ads-items">
      <div class="col-md-3 item-content">
        <%= image_tag "sale.jpg", class: "item-image"%>
      </div>
      <div class="col-md-9">
        <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipisicing!</span>
        <p class="price-item">150.000 vnd </p>
        <span><i class="fa fa-flag-checkered"> Can Ban | Category</i></span>
        <div class="meta-tag">
          <span><i class="fa fa-calendar"> <%= Date.today %></i></span>
          <span><i class="fa fa-comment"> 20 Review </i></span>
          <span class="pull right"><i class="fa fa-user"> Owner</i></span>
          <span><i class="fa fa-foursquare"> Da Nang Office </i></span>
        </div>
      </div>
    </div>
    <div class="list-ads-items">
      <div class="col-md-3 item-content">
        <%= image_tag "sale.jpg", class: "item-image"%>
      </div>
      <div class="col-md-9">
        <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipisicing!</span>
        <p class="price-item">150.000 vnd </p>
        <span><i class="fa fa-flag-checkered"> Can Ban | Category</i></span>
        <div class="meta-tag">
          <span><i class="fa fa-calendar"> <%= Date.today %></i></span>
          <span><i class="fa fa-comment"> 20 Review </i></span>
          <span class="pull right"><i class="fa fa-user"> Owner</i></span>
          <span><i class="fa fa-foursquare"> Da Nang Office </i></span>
        </div>
      </div>
    </div>
    <div class="list-ads-items">
      <div class="col-md-3 item-content">
        <%= image_tag "sale.jpg", class: "item-image"%>
      </div>
      <div class="col-md-9">
        <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipisicing!</span>
        <p class="price-item">150.000 vnd </p>
        <span><i class="fa fa-flag-checkered"> Can Ban | Category</i></span>
        <div class="meta-tag">
          <span><i class="fa fa-calendar"> <%= Date.today %></i></span>
          <span><i class="fa fa-comment"> 20 Review </i></span>
          <span class="pull right"><i class="fa fa-user"> Owner</i></span>
          <span><i class="fa fa-foursquare"> Da Nang Office </i></span>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
  <div class="right-sidebar col-md-4">
    <div class="most-review">
      <h3 class="page-title">Most Reviewed</h3>
      <ul class="side-item">
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-comment"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-comment"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-comment"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-comment"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-comment"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
      </ul>
    </div>
    <div class="most-interested">
      <h3 class="page-title">Most Interested</h3>
      <ul class="side-item">
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-eye"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-eye"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-eye"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-eye"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-eye"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
