<div class="content-ads">
  <div class="col-md-8">
    <h3 class="page-title"><span class="main-title">Chuyen muc rao vat</span></h3>
      <a class="btn category-btn"><span class="icon-am-thuc"></span></br>
        <p>Category</p>
      </a>
      <a class="btn category-btn"><span class="icon-xe-co"></span></br>
        <p>Category</p>
      </a>
      <a class="btn category-btn"><span class="icon-do-handmade"></span></br>
        <p>Category</p>
      </a>
      <a class="btn category-btn"><span class="icon-do-dien-tu"></span></br>
        <p>Category</p>
      </a>
      <a class="btn category-btn"><span class="icon-am-thuc"></span></br>
        <p>Category</p>
      </a>
      <a class="btn category-btn"><span class="icon-do-dien-tu"></span></br>
        <p>Category</p>
      </a>
      <div class="row btn-post-ads">
        <%= link_to new_domain_ads_post_path, class: "btn-add" do %>
          <i class="fa fa-pencil"></i>  Post your ads</a>
        <% end %>
      </div>
  </div>
  <div class="col-md-4 list-office">
    <div class="row">
      <h3 class="page-title">Cua Hang Noi Bat</h3>
        <span class="shop-image"><%= image_tag "shop.png"%></span>
        <span class="shop-image"><%= image_tag "shop.png"%></span>
        <span class="shop-image"><%= image_tag "shop.png"%></span>
        <span class="shop-image"><%= image_tag "shop.png"%></span>
    </div>
  </div>
  <div class="col-md-8 ads-list">
    <h3 class="page-title">Tin dang moi nhat</h3>
    <div class="filter-post">
      <div class="dropdown status-filter">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <%= t "ads.post.modes.#{@post_support.filtered_param[:mode]}" %>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <% Post.modes.each do |key, _| %>
            <li><%= link_to t("ads.post.modes.#{key}"), domain_ads_posts_path(@domain,
              category_slug: @post_support.filtered_param[:category].slug,
              time: @post_support.filtered_param[:time],
              mode: key) %></li>
          <% end %>
        </ul>
      </div>

      <div class="dropdown time-filter">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <% if @post_support.filtered_param[:time] == Settings.post.asc %>
            <%= t "ads.post.order_by.asc" %>
          <% elsif @post_support.filtered_param[:time] == Settings.post.desc %>
            <%= t "ads.post.order_by.desc" %>
          <% end %>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <li><%= link_to t("ads.post.order_by.desc"), domain_ads_posts_path(@domain,
            category_slug: @post_support.filtered_param[:category].slug,
            time: Settings.post.desc,
            mode: @post_support.filtered_param[:mode]) %></li>
          <li><%= link_to t("ads.post.order_by.asc"), domain_ads_posts_path(@domain,
            category_slug: @post_support.filtered_param[:category].slug,
            time: Settings.post.asc,
            mode: @post_support.filtered_param[:mode]) %></li>
        </ul>
      </div>

      <div class="dropdown categories-filter">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <%= @post_support.filtered_param[:category].name %>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <%= render partial: "category", collection: @post_support.all_parent_categories,
            as: :category %>
        </ul>
      </div>
    </div>

    <div id="filtered-posts">
      <%= render @post_support.filtered_posts %>
    </div>

    <% unless check_length_perpage_posts @post_support.filtered_posts %>
      <%= link_to_next_page @post_support.filtered_posts, t("view_more_posts") %>
    <% end %>
  </div>
  <div class="right-sidebar col-md-4">
    <div class="most-review">
      <h3 class="page-title">Most Reviewed</h3>
      <ul class="side-item">
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-comment"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-comment"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-comment"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-comment"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-comment"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
      </ul>
    </div>
    <div class="most-interested">
      <h3 class="page-title">Most Interested</h3>
      <ul class="side-item">
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-eye"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-eye"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-eye"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-eye"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
        <li>
          <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
          <span class="sidebar-tag">
            <i class="fa fa-eye"> 50 reivews</i>
            <i class="fa fa-foursquare"> Da Nang Office </i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
