<div class="post-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#"><%= @post.category_name %></a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @post.title %></li>
    </ol>
  </nav>
  <div class="col-md-8 post-content">
    <div class="row">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <% @post.post_images.each do |img| %>
            <div class="image-slide item <%= img.id == @post.post_images.first.id ? 'active' : '' %>">
              <%= image_tag img.image.url %>
            </div>
          <% end %>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only"></span>
        </a>
      </div>

    </div>
  </div>
  <div class="col-md-4 right-sidebar post-onwer-info">
    <h3 class="contact-info"><%= t "ads.post.contact_info" %></h3>
    <div class="card">
      <%= image_tag "default_shop_avatar", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to "Cua Hang ABCD"%></br>
          <i class="fa fa-clock-o"> 09:00 AM - 15:00 PM</i>
        </h4>
        <p class="card-text">
          <i class="fa fa-user"> <%= t "ads.post.post_owner" %>:</i> <%= @post.user.name %><br>
          <i class="fa fa-pencil"> <%= t "ads.post.ads_of_owner" %>:</i> <%= @post_support.post_of_user %><br>
          <i class="fa fa-star"> <%= t "ads.post.shop_rating" %>: </i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </p>
        <div class="row shop-btn-func">
          <%= link_to t("ads.post.btn_buy_now"),"", class: "btn btn-add pull-left" %>
          <%= link_to t("ads.post.btn_contact"),"", class: "btn btn-add pull-right" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 ads-content">
    <p class="ads-title"><%= @post.title %></p>
    <p class="ads-price"><%= t "ads.post.price_from" %>: 5.000.000 - 10.000.000 vnd</p>
      <p class="ads-post">
        <%= raw @post.content %>
      </p>
      <i class="fa fa-facebook-f fb-icon social-icon"></i>
      <i class="fa fa-google-plus social-icon g-icon"></i>
      <i class="fa fa-twitter social-icon tw-icon"></i>
      <i class="social-icon cw-icon"></i>
    <span class="dash"></span>
    <div class="ads-extend">
      <i class="fa fa-foursquare"> <%= @post_support.branch_of_post %></i>
      <i class="fa fa-tags"> <%= @post.category_name %></i>
      <i class="fa fa-bullseye"> <%= @post.arena %></i>
      <i class="fa fa-calendar-o"> <%= @post.created_at %></i>
    </div>
    <span class="dash"></span>
    <div class="ads-report">
      <i class="fa fa-shield">*</i>
      <%= t "ads.post.report.info" %>
    </div>
    <div class="btn-reports">
      <a href="javascript:" class="btn btn-default" data-toggle="modal" data-target="#reportModal"><i class="fa fa-warning"></i><%= t "ads.post.report.btn_report" %></a>
    </div>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-8 ads-review">
    <div class="review-ads-input">
      <div class="media">
        <div class="media-left ads-review-avatar">
          <%= image_tag "default_user_avatar", class: "media-object"%>
        </div>
        <div class="media-body">
          <form class="form-group">
            <h4 class="media-heading"><%= current_user.name %><small><i> <%= t "ads.post.review.your_rating" %>:
              <%= rating_for @review, "rating", stars: 5 %>
            </small></h4>
            <textarea class="form-control" rows="3" id="ads-review" data-post-id="<%= @post.id %>"></textarea>
            <a class="btn btn-review btn-add"><%= t "ads.post.report.btn_review" %></a>
          </form>
        </div>
      </div>
    </div>
    <div class="people-review">
      <h3>Someone reviewing</h3>
      <div class="reviews-of-post">
        <%= render partial: "review", collection: @post_support.reviews_of_post.to_a, as: :review %>
      </div>
    </div >
  </div>
</div>
<div class="modal fade" id="reportModal" role="dialog">
  <div class="modal-dialog modal-report">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "ads.post.report.report_modal_title" %></h4>
      </div>
      <div class="modal-body">
        <textarea class="form-control" rows="3" id="ads-report" data-post-id="<%= @post.id %>"></textarea>
      </div>
      <div class="modal-footer">
        <a href="javascript:" class="btn btn-report btn-add"><%= t "ads.post.report.btn_send_report" %></a>
        <a href="javascript:" type="button" class="btn btn-add" data-dismiss="modal"><%= t "ads.post.report.btn_close" %></a>
      </div>
    </div>
  </div>
</div>
