<p><%= t "reset_password.hello", name: @resource.name %></p>
<p><%= t "reset_password.link" %></p>
<p><%= link_to t("reset_password.change"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t "reset_password.token" %></p>
<h3><%= @token %></h3>
<p><%= t "reset_password.igone" %></p>
<p><%= t "reset_password.end" %></p>
