<% provide :title, t("devise.user.update_info") %>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2" >
    <div class="panel panel-info">
      <div class="panel-default modal_header">
        <h3 class="panel-title text-center text-panel">
          <strong><%= t "devise.user.update_info" %></strong>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
            html: {method: :put}) do |f| %>
            <div class="col-xs-12">
              <%= devise_error_messages! %>
            </div>
            <div class="col-xs-4">
              <div class="form-group relative" id= "preview_avatar">
                <% User::CROP_AVATAR.each do |attr| %>
                  <%= f.hidden_field attr.to_sym, id: "user_#{attr}" %>
                <% end %>
                <%= f.label t "edit_user.avatar" %>
                <%= image_tag @user.avatar.url, class: "avatar avatar-show-user",id: "img_user_avatar" %>
                <% unless resource.is_create_by_wsm %>
                  <%= f.file_field :avatar, accept: Settings.pictures.accepted_files,
                    class: "upload-user-avatar hidden-file", id: "user_avatar" %>
                  <%= link_to "javascript:void(0)", class: "choose-avatar" do %>
                    <i class="material-icons">camera_enhance</i>
                    <label class="margin-bottom-0">
                      <%= t "update_image_avatar" %>
                    </label>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, disabled: true, class: "form-control" %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="form-group">
                <%= f.label t "edit_user.name" %>
                <% if resource.is_create_by_wsm %>
                  <%= f.text_field :name, disabled: true, class: "form-control"%>
                <% else %>
                  <%= f.text_field :name, class: "form-control"%>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.label t "edit_user.group" %> <i></i><br/>
                <%= f.text_field :address, autocomplete: "off",
                  class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label t "edit_user.chatwork_id" %> <i class="fa fa-question-circle" aria-hidden="true" title="<%= I18n.t("chatwork_id_help") %>"></i>
                <%= f.text_field :chatwork_id, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label t "edit_user.description" %>
                <%= f.text_area :description, class: "form-control disabled-resize-textarea" %>
              </div>
            </div>
            <div class="actions text-center margin-top-10">
              <%= f.submit t("edit_user.update"),
                class: "btn btn_add_to_cart btn-add form-button" %>
            </div>
          <% end %>
          <div id="crop_avatar_popup" class="mfp-hide crop-image-modal">
            <div id="popup">
              <h2 class= "crop-title" ><%= t "crop_user_avatar" %></h2>
              <div class="crop_image">
                <img src="" id="user_avatar_crop" class="crop-modal">
                <%= submit_tag t("crop"), class: "btn btn_add_to_cart btn-add form-button", id: "submit_crop" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
